.menu-image {
    height: 80px;
    border-radius: 10px;
    width: 135px;
}

.price-text {
    color: orange;
}

.full-div {
    display: flex;
    justify-content: space-between;
}

.sub-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.amount-text {
    color: #d5cccc;
}